.about {
    margin-top: 50px;
    background-color: rgba(18, 35, 46, 1);
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 46px;
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}

.about p {
    color: #fff;
    max-width: 420px;
}

.about h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.about-info {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(2,144px);
    row-gap: 56px;
    column-gap: 68px;
}

.about-info .bigSize {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 16px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 74, 119, 1);

}

.about-info .smallSize {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 5px;
}
