.service-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.ourService-container h2 {
    margin-left: 17%;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #fff;
}

.ourService-container {
    padding-top: 100px;
}