* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.NewCar-page {
  display: flex;
  padding-top: 100px;
  gap: 65px;
  padding-right: 100px;
}

.Used-page {
  display: flex;
  padding-top: 100px;
  gap: 65px;
  padding-right: 100px;
}